@use 'variables' as v;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  color: v.$light-color;
}

@mixin paper {
  padding: 8px;
  background-color: v.$dark-color;
}

@mixin divider {
  width: 100%;
  height: 1px;
  background-color: v.$light-color;
}

@mixin icon-button-container {
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 15px;
  background-color: v.$dark-color;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: v.$grey-color;
  }
}

@mixin icon {
  color: v.$light-color;
}
