@use 'variables' as v;

.container {
  position: relative;
  display: flex;
  height: 100vh;
  background-color: v.$black-color;
}

@media only screen and (max-width: 800px) {
  .container {
    flex-direction: column;
  }
}
