@use 'variables' as v;
@use 'mixins' as m;

.container {
  position: absolute;
  left: 15px;
  top: 15px;
  background-color: v.$grey-color;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
}

.list {
  list-style: none;
  width: 120px;
  padding: 4px;
}

.listItem {
  color: v.$light-color;
  padding: 4px;
  transition: background-color 0.1s ease-in-out;

  &:hover {
    background-color: v.$dark-color;
  }
}
