@use 'variables' as v;
@use 'mixins' as m;

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(2px);
}

.dialog {
  padding: 16px;
  border-radius: 8px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid v.$grey-color;
}

.input {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid v.$blue-color;
  outline: 0;
  font-size: 1.3rem;
  color: v.$light-color;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.dialogActions {
  @include m.flex-center;
  justify-content: end;
  padding-top: 12px;
}

.button {
  @include m.button;
}
